* { box-sizing: border-box; }

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both; }
/* e: clearfix */

/* variables */
:root {
    --primary-color: #08a6e4;
    --primary-color-shadow: rgba(7, 172, 230, .16);
    --secondary-font-color: #A5A5A5;
    --color-benefits-background: #F7F7F7;
    --white-color: #FFFFFF;
    --primary-font-color: #000000;
    --color-pricing-1: #EB476E;
    --color-pricing-2: #07ACE6;
    --color-pricing-3: #55DFB4;
    --primary-font-raleway: "Raleway", sans-serif;
    --secondary-font-open-sans: "Open Sans", sans-serif;
}
/* e: variables */

/* base */
body {
    font-family: var(--primary-font-raleway), sans-serif;
    font-size: 16px;
    color: var(--primary-color);
}
/* e: base */

* a { text-decoration: none; }

/* TODO! UMESTI TEGA GUMBA NEKAM!
.btn_big {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.75em 2em;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
}
*/

/* container */
.container {
    max-width: 1352px;
    margin: 0 auto;
}
/* e: container */

/* header: logo + nav menu */

header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    text-decoration: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    font-family: var(--primary-font-raleway), sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
}

.header__nav { display: flex; }

.nav__link {
    color: var(--secondary-font-color);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 24px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--primary-font-color);
    border-color: var(--primary-color);
}

.nav__element { padding: 0 26px; }
/* e: header: logo + nav menu */

/* opening section */
.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-font-color);
}

.container__opening{
    margin-top: 130px;
    text-align: center;
}

.opening__title {
    font-family: var(--primary-font-raleway), sans-serif;
    font-size: 3.0625rem;
}

.opening__text {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening__background {
    width: 100%;
    height: auto;
}

.opening__btn {
    text-align: center;
    font: normal normal bold 16px/22px var(--secondary-font-open-sans);
    color: var(--white-color);
    background: var(--primary-color) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--primary-color-shadow);
    border-radius: 40px;
}