* { box-sizing: border-box; }

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both; }
/* e: clearfix */

/* variables */
:root {
    --primary-color: #08A6E4;
    --primary-color-shadow: rgba(7, 172, 230, .16);
    --secondary-font-color: #A5A5A5;
    --color-benefits-background: #F7F7F7;
    --white-color: #FFFFFF;
    --primary-font-color: #000000;
    --color-pricing-1: #EB476E;
    --color-pricing-2: #07ACE6;
    --color-pricing-3: #55DFB4;
    --primary-font-raleway: "Raleway", sans-serif;
    --secondary-font-open-sans: "Open Sans", sans-serif;
}
/* e: variables */

/* base */
body {
    font-family: var(--primary-font-raleway), serif;
    font-size: 16px;
    color: var(--primary-color);
}
/* e: base */

* a {
    text-decoration: none;
}

/* container */
.container {
    /* width: 100%;*/
    max-width: 1352px;
    margin: 0 auto;
}
/* e: container */

/* header: logo + nav menu */

header {
    position: relative;
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}

.header__container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375em;
}

.header__logo {
    font: normal normal 300 2em/2.3125em var(--primary-font-raleway);
    color: var(--primary-color);
    text-decoration: none;
}

.header__nav {
    display: flex;
    gap:5em;
    align-items: center;
    padding-right: 2em;
}

.nav__element a {
    position: relative;
    font: normal normal bold 0.6875em/0.9375em var(--secondary-font-open-sans);
    color: var(--secondary-font-color);
    letter-spacing: 0.205em;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 1.5em;
}
.nav__element a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--primary-color);
}

.nav__element a:hover {
    color: var(--primary-font-color);
    cursor: pointer;
}

.nav__element a:hover::after {
    width: 100%;
}

/* e: header: logo + nav menu */