@use "../settings/variables" as *;

* { box-sizing: border-box;}

/* clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both; }
/* e: clearfix */

/* base */
body {
  font-family: $font-secondary-open-sans, sans-serif;
  font-size: 16px;
  color: $color-font-primary-black;
}
/* e: base */

a { text-decoration: none; }

h2 {
  font-family: $font-primary-raleway;
  font-size: 2.25rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}