$color-primary: #08a6e4;
$color-primary-shadow: rgba(7, 172, 230, 0.16);

$color-pricing-1: #fb3b64; // rdeča (basic)
$color-pricing-3: #55dfb4; // zelena (premium)

$color-font-primary-black: #000000;
$color-white: #ffffff;
$color-font-secondary-grey: #a5a5a5;

$color-benefits-background: #f7f7f7;

