/* colors */

  $color-primary: #08a6e4;
  $color-primary-shadow: rgba(7, 172, 230, 0.16);
  $color-pricing-1: #fb3b64;
  $color-pricing-3: #55dfb4;

  $color-font-primary-black: #000000;
  $color-white: #ffffff;
  $color-font-secondary-grey: #a5a5a5;

  $color-benefits-background: #f7f7f7;


/* fonts */
  $font-primary-raleway: "Raleway", sans-serif;
  $font-secondary-open-sans: "Open Sans", sans-serif;
