* {
  box-sizing: border-box;
}

/* clearfix (če ga rabiš še kje) */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: $font-secondary-open-sans;
  font-size: 16px;
  color: $color-font-primary-black;
}

a {
  text-decoration: none;
}
