$button-radius: 35px;

.btn {
  color: $color-white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button-radius;
  border: none;

  &--primary {
    background-color: $color-primary;
    border-radius: $button-radius;
    box-shadow: 3px 10px 14px $color-primary-shadow;
  }

  &--large {
    padding: 22px 155px;
  }

  &--redish {
    background-color: $color-pricing-1
  }

  &--green {
    background-color: $color-pricing-3
  }
}
