@use "../settings/index" as *;


$button-radius: 35px;

.btn {
  color: $color-white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button-radius;
  border: none;
}

.btn--primary {
  background-color: $color-primary;
  box-shadow: 3px 10px 14px $color-primary-shadow;
}

.btn--large { padding: 22px 155px; }
