/* header: logo + nav menu */
.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-family: $font-primary-raleway, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
}

.header__nav { display: flex; }

.nav__link {
  color: $color-font-secondary-grey;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 24px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;

  &:hover {
    color: $color-font-primary-black;
    border-color: $color-primary;
  }
}

.nav__element { padding: 0 26px; }

.nav__element:last-child { padding-right: 0; }

/* e: header: logo + nav menu */
