.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__container {
    margin-top: 130px;
    text-align: center;

    @include mobile {
      margin-top: 100px;
    }
  }

  &__title {
    font-family: $font-primary-raleway;
    font-size: 3.0625rem;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 38px;

    @include mobile {
      padding: 0 70px;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @include mobile {
      width: 220%;
      transform: translateX(-28%);
    }
  }

  @include mobile {
    .btn {
      margin: 0 15px;
      padding: 16px 0;
      display: block;
    }
  }
}
